.playerListWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;
}

.playerListContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-large);
}

.addPlayerButtonContainer {
  width: 100%;
}

.addPlayerButton {
  padding: var(--spacing-medium) var(--spacing-large);
  width: 100%;
  color: var(--font-color-light);
  font-size: var(--font-size-base);
  font-weight: bold;
  background-color: var(--kanoncon-color-green);
  border-radius: var(--border-radius-small);
  border: none;
  transition: opacity 0.2s ease;
}

.addPlayerButton:hover {
  opacity: 0.8;
}

.addPlayerButton:active p {
  transform: scale(0.95);
}

.searchBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  width: 100%;
}

.searchBarLabel {
  width: 100%;
  font-weight: bold;
  white-space: nowrap;
  align-self: flex-start;
}

.searchBarInput {
  width: 100%;
  min-width: 300px;
  padding: var(--spacing-small);
  border-radius: var(--border-radius-xs);
}

.listContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listHeader {
  font-size: var(--font-size-medium);
}

.listElement {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-small);
  color: var(--font-color-dark);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.4);
}

.listElement p {
  white-space: nowrap;
}

.listElement:nth-child(odd) {
  background-color: rgba(184, 212, 228, 0.329);
}

.listElement:nth-child(even) {
}

.listElement:first-child {
  background-color: var(--kanoncon-color-blue);
  font-weight: bold;
}

.listElementName {
  font-weight: bold;
}

.listElementSub {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.playerInfo {
  display: flex;
  gap: var(--spacing-small);
}

.playerInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.adminControlsContainer {
  display: flex;
  gap: var(--spacing-small);
}

@media screen and (max-width: 992px) {
  .playerListContainer {
    width: 70%;
  }
}

@media screen and (max-width: 575px) {
  .playerListContainer {
    width: 90%;
  }
}
