.outerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;

  top: 0;
  left: 0;
}

.popUpMessageContainer {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--spacing-small);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
  padding: var(--spacing-large);
  background-color: var(--font-color-light);
}

.messageParagraph {
  text-align: center;
  font-size: var(--font-size-medium);
  font-weight: bold;
  padding: var(--spacing-medium);
}

.button {
  width: 100%;
  font-weight: bold;
  font-size: var(--font-size-medium);
  padding: var(--spacing-small);
  color: var(--font-color-light);
  background-color: var(--kanoncon-color-green);
  border-radius: var(--border-radius-xs);
  border: none;
  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active p {
  transform: scale(0.95);
}

@media screen and (max-width: 1200px) {
  .popUpMessageContainer {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .popUpMessageContainer {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .popUpMessageContainer {
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .popUpMessageContainer {
    width: 90%;
  }
}
