.createEventWrapper {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xl) 0;
}

.form {
  width: 50%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-large);
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  border: none;
}

.header {
  align-self: center;
  padding: var(--spacing-medium);
}

.groupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-xs);
}

.checkboxContainer {
  display: flex;
  gap: var(--spacing-small);
}

.label {
  font-weight: bold;
}

.input,
select,
.submitButton {
  padding: var(--spacing-small);
  border-radius: var(--border-radius-xs);
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.errorMessage {
  color: var(--color-error);
  font-size: var(--font-size-xs);
  font-weight: bold;
  height: var(--font-size-xs);
}

.submitButton {
  height: 42px;
  color: var(--font-color-light);
  font-weight: bold;
  font-size: var(--font-size-medium);
  background-color: var(--kanoncon-color-green);
  border: none;
  transition: opacity 0.2s ease;
  margin: var(--spacing-small) 0;
}

.submitButton:hover {
  opacity: 0.8;
}

.submitButton:active p {
  transform: scale(0.9);
}

.feedbackMessage {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .form {
    width: 70%;
  }
}

@media screen and (max-width: 575px) {
  .form {
    width: 90%;
  }
}
