.outerWrapper {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xl) 0;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-xl) 0;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-large);
  position: relative;
}

.groupContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-xs);
}

.label {
  font-weight: bold;
}

.input {
  padding: var(--spacing-small);
  border-radius: var(--border-radius-xs);
  border: 1px solid black;
}

.errorMessage {
  color: var(--color-error);
  height: var(--font-size-xs);
  font-size: var(--font-size-xs);
  font-weight: bold;
}

.submitButton {
  width: 100%;
  font-weight: bold;
  font-size: var(--font-size-medium);
  padding: var(--spacing-small);
  color: var(--font-color-light);
  background-color: var(--kanoncon-color-green);
  border-radius: var(--border-radius-xs);
  border: none;
  transition: opacity 0.2s ease;
}

.submitButton:hover {
  opacity: 0.8;
}

.submitButton:active p {
  transform: scale(0.95);
}

.exitButton {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 15px;
  right: 15px;

  padding: var(--spacing-small);
  border-radius: var(--border-radius-xs);
  border: none;
  background-color: var(--kanoncon-color-red);
}

.exitButton svg {
  width: var(--font-size-medium);
  height: var(--font-size-medium);
  color: var(--font-color-dark);
}

.exitButton:hover {
  background-color: #851c1e;
}

.exitButton:active svg {
  transform: scale(0.8);
}

@media screen and (max-width: 1200px) {
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 70%;
  }
}

@media screen and (max-width: 575px) {
  .form {
    width: 90%;
  }
}
