.outerWrapper {
  width: 100%;
  height: 200px;
  background-color: var(--kanoncon-primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
}

.paragraph {
  width: 100%;
  text-align: center;
  color: var(--font-color-light);
  padding: var(--spacing-medium);
}
